.app-layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 22rem 1fr;
  grid-template-areas: "sidebar main";
  &__main {
    background-color: var(--color-grey-100);
    overflow: auto;
    display: flex;
    &__container {
      position: relative;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
}
