.tables {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px repeat(6, 1fr);
  gap: 3rem;
  margin: 2rem 3rem;
  overflow: auto;

  @media (max-width: 950px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &::-webkit-scrollbar {
    width: 0px;
  }

  &__title {
    font-weight: 600;
    grid-column: 1 / 4;
    grid-row: 1 / 2;

    
  @media (max-width: 950px) {
    flex-basis: 100%;
  
  }
  @media (max-width: 768px) {
    font-size: 2.6rem;
  }
  
  }
}