.settings {
  margin: 2rem 4rem;

  &__title {
    font-weight: 600;
    margin-bottom: 2.8rem;
  }

  &__container {
    margin-bottom: 2.4rem;
    &__title {
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: 1.8rem;
    }
    &__form {
      min-width: 50rem;
      width: 60%;
      padding: 2rem;
      background-color: var(--color-grey-0);
      border-radius: var(--border-radius-lg);

      &__btn {
        width: auto;
        border: none;
        margin-top: 2rem;
        padding: 0.8rem 1.2rem;
        border-radius: var(--border-radius-lg);
        font-weight: 500;
        font-size: 1.5rem;
        transition: 0.3s;

        background-color: var(--color-brand-500);
        color: var(--color-grey-0);

        &:hover {
          background-color: var(--color-brand-600);
        }
      }
    }
  }
}
